#top-container {
  #overflow: auto;
}

kg-word-display {
  float: left;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
}

kg-man {
  float: right;
  width: 50%;
}

kg-alphabet-selector {
}
